<li><%= link_to 'Commissions', commissions_url %></li>
<li>
  <%= link_to 'Artwork', artworks_url %>
  <ul>
    <li><%= link_to 'Featured', artwork_types_featured_url %></li>
    <li><%= link_to 'For Sale', artwork_types_for_sale_url %></li>
    <li><%= link_to 'Pastel', artwork_types_pastel_url %></li>
    <li><%= link_to 'Paintings', artwork_types_painting_url %></li>
    <li><%= link_to 'Sketches', artwork_types_sketch_url %></li>
  </ul>
</li>
<li><%= link_to 'Profile', profile_url %></li>
<li><%= link_to 'Home', root_url %></li>